@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Roboto", sans-serif;
}

span {
    font-family: inherit;
    font-weight: inherit;
}

.buttonShadow {
    box-shadow: 4px 4px 0 0 #a78bfa;
}

.buttonShadow:hover{
    box-shadow: 7px 7px 0 0 #a78bfa;
    transform: translate(-4px, -4px);
}